@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.imagen {
  width: 300px;
  height: 280px;
}

body {
  background-color: #030303;
  font-family: "Bebas Neue", cursive;
  color: #ffffff;
}

#popup {
  position: fixed;
  top: 20px;
  background-color: rgb(58, 61, 62);
  border-radius: 8px;
  color: #000000;
  font-family: sans-serif;
  padding: 20px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  left: calc(40% - 30px);
  right: calc(40px - 30px);

  opacity: 0;
  transform: translateY(-40px);
  animation: mostrar 0.25s ease-in-out forwards;
}

@keyframes mostrar {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-image: url(https://wallpapercave.com/wp/wp1715552.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-height: flex;
  align-items: center;
}

.menu {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 23px;
  color: #000000;
  display: inline-block;
  padding: 7px 10px;
  background-color: #ff2f28;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 22px;
  color: #000000;
  padding: 20px;
  display: block;
}

.menu .navbar ul li a:hover {
  color: #ff2f28;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
  display: none;
}

.menu label {
  cursor: pointer;
  display: none;
}

.header-content {
  display: flex;
  width: 100%;
}

.header-1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: flex-end;
}

.header-1 img {
  width: 300px;
}

.header-2 {
  text-align: end;
  margin-top: 450px;
  width: 50%;
}

.header-2 h2 {
  color: #00000072;
  font-size: 50px;
  line-height: 50px;
}

.header-2 img {
  width: 100px;
}

.btn-1 {
  display: inline-block;
  padding: 7px 20px;
  background-color: #ff2f28;
  color: #000000;
  font-size: 20px;
}

.btn-2 {
  display: inline-block;
  padding: 7px 20px;
  background-color: #ff2f28;
  color: #000000;
  font-size: 20px;
  margin-top: 30px;
  width: 110px;
}

.movies {
  padding: 50px 0 0 0;
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

hr {
  border: 1px solid #ff000033;
  width: 100%;
  margin-bottom: 40px;
}

.box-container-1,
.box-container-2,
.box-container-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}

.box-1,
.box-2,
.box-3 {
  border-radius: 5px;
  z-index: 1000;
  display: none;
}

.box-1:nth-child(1),
.box-1:nth-child(2),
.box-1:nth-child(3),
.box-1:nth-child(4) {
  display: block;
}

.box-2:nth-child(1),
.box-2:nth-child(2),
.box-2:nth-child(3),
.box-2:nth-child(4) {
  display: block;
}

.box-3:nth-child(1),
.box-3:nth-child(2),
.box-3:nth-child(3),
.box-3:nth-child(4) {
  display: block;
}

.load-more {
  border-radius: 15px;
  margin-top: 40px;
  padding: 10px 25px;
  display: inline-block;
  border: 1px solid #ff0000;
  color: rgb(255, 0, 0);
  font-size: 16px;
  cursor: pointer;
  align-self: flex-end;
}

.load-more:hover {
  background-color: #ff0000;
  color: #ffffff;
}

.content img {
  width: 100%;
  margin-bottom: 15px;
}

.content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.content {
  font-size: 20px;
  color: #cfcfcf;
}

.footer {
  justify-content: space-between;
  padding: 100px 0;
  margin-top: 100px;
  display: flex;
  border-top: 1px solid #ff2a2a44;
  align-items: center;
}

.footer ul {
  display: flex;
}

.footer h3 {
  font-size: 30px;
}

.footer a {
  color: #ffffff;
  margin-right: 20px;
  font-size: 20px;
  display: block;
}

.footer a:hover {
  color: #ff2f28;
}

@media (max-width: 991px) {
  .menu {
    padding: 20px;
  }

  .menu label {
    display: initial;
  }

  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #030303;
    display: none;
  }

  .menu .navbar ul li {
    width: 100%;
  }

  .btn-1 {
    display: none;
  }

  #menu:checked ~ .navbar {
    display: initial;
  }

  .header-content {
    flex-direction: column;
    padding: 180px 30px 30px 30px;
  }

  .header-1 {
    width: 100%;
    align-self: center;
  }

  .header-2 {
    width: 100%;
    text-align: center;
  }

  .movies {
    padding: 30px 10px 10px 10px;
  }

  .footer {
    margin-top: 30px;
    padding: 30px 10px 10px 10px;
    flex-direction: column;
    text-align: center;
  }

  .footer ul {
    justify-content: center;
    margin-top: 15px;
  }
}
